body {
    background-image: url('https://img.freepik.com/premium-photo/highresolution-stock-image-computer-motherboard-with-cpu-technology-enthusiasts-hardw_561855-52088.jpg?w=360');
    background-size: cover;
    font-family: Arial, sans-serif;
    align-items: center;
    font-size: larger;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 300;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #6a1b9a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}

button:hover {
    background-color: #4a148c;
}

.go-back {
    background-color: #8e24aa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.go-back:hover {
    background-color: #6a1b9a;
}